Source: acct-meta
Section: admin
Priority: extra
Maintainer: Michal Svamberg <svamberg@civ.zcu.cz>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: acct-meta
Architecture: all
Depends: acct, libjson-perl, yajl-tools, ${perl:Depends}, ${misc:Depends}, python-swiftclient-kerberos 
Description: MetaCentrum process accounting
 Reading, filtering and sending process accounting via SWIFT client
 to cloud storage.
 
